body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E8E8E8;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    margin-top: 0;
}

h3{
    font-size: 20px;
}

.content-header{
    position: relative;
}

.content-header .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-header .image{
    height: 500px;
}

.content-header .content{
    position: absolute;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    bottom: 60px;
    left: 100px;
}

.primary-button{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 0;
    border: 2px solid #F64E8B;
    cursor: pointer;
    font-size: 14px;
    background-color: #F64E8B;
    text-shadow: none;
    transition: all .4s ease-in-out 0s;
}

.primary-button:hover{
    background-color: #3F3F3F;
    transition: all .4s ease-in-out 0s;
    color: #F64E8B;
}

.content-left-right{
    position: relative;
    display: table;
}

.pad-both{
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-left-right .content-right img{
    width: 100%;
    height: 100%;
}

#list{
    background-color: #E8E8E8;
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 10px;
}

.products-content{
    display: table;
    margin-left: 100px;
    margin-right: 100px;
}

.products-content .product .image img{
    width: 100%;
}

.product p{
    text-align: center;
}

/* Desktop */
@media screen and (max-width: 1920px) {
    .content-left-right .content-left{
        width: 40%;
        float: left;
        padding-left: 100px;
    }
    
    .content-left-right .content-right .image{
        width: 30%;
        float: right;
        padding-right: 100px;
    }

    .product{
        float: left;
        margin-left: 2.5%;
        width: calc((100% / 4) - 2.5%);
    }
    
    .product:first-of-type{
        margin-left: 0px;
    }
}

/* Tablet */
@media screen and (max-width: 1014px) {
    .content-left-right .content-left{
        width: 40%;
        float: left;
        padding-left: 100px;
    }
    
    .content-left-right .content-right .image{
        width: 30%;
        float: right;
        padding-right: 100px;
    }

    .product{
        float: left;
        margin-left: 2.5%;
        width: calc((100% / 2) - 2.5%);
    }
    
    .product:first-of-type{
        margin-left: 0px;
    }
}

/* Mobiel */
@media screen and (max-width: 910px) {
    .content-left-right .content-left{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .content-left-right .content-right .image{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
    }

    .product{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 25px;
    }
    
    .product:first-of-type{
        padding-top: 0;
    }
}